
/*-------------------------------------------------------------------------------------*/
/* Grids                                                                               */
/*-------------------------------------------------------------------------------------*/

/* The natural box layout model is needed for fluid units with padding */
.unit, .unitRight { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.line, .lastUnit { overflow: hidden; *overflow: visible; *zoom: 1; }

.unit { float: left; }
.unitRight { float: right; }
.unitCenter { margin: 0 auto; }

.lastUnit {
    float: none;
    width: auto;
    _margin-right: -3px;
    _position: relative;
    _left: -3px;
}

.size1of1 { float: none; }
.size1of2 { width: 50%; }
.size1of3 { width: 33.33333%; }
.size2of3 { width: 66.66666%; }
.size1of4 { width: 25%; }
.size3of4 { width: 75%; }
.size1of5 { width: 20%; }
.size2of5 { width: 40%; }
.size3of5 { width: 60%; }
.size4of5 { width: 80%; }
.size1of7 { width: 14.28572%; }
.size3of7 { width: 42.85714%; }


/*-------------------------------------------------------------------------------------*/
/* Spacing                                                                             */
/*-------------------------------------------------------------------------------------*/

.mtn,.mvn,.man { margin-top:0px }
.mts,.mvs,.mas { margin-top:5px }
.mtm,.mvm,.mam { margin-top:10px }
.mtl,.mvl,.mal { margin-top:20px }

.mrn,.mhn,.man { margin-right:0px }
.mrs,.mhs,.mas { margin-right:5px }
.mrm,.mhm,.mam { margin-right:10px }
.mrl,.mhl,.mal { margin-right:20px }

.mbn,.mvn,.man { margin-bottom:0px }  
.mbs,.mvs,.mas { margin-bottom:5px }
.mbm,.mvm,.mam { margin-bottom:10px }
.mbl,.mvl,.mal { margin-bottom:20px }

.mln,.mhn,.man { margin-left:0px }
.mls,.mhs,.mas { margin-left:5px }
.mlm,.mhm,.mam { margin-left:10px }
.mll,.mhl,.mal { margin-left:20px }


/*-------------------------------------------------------------------------------------*/
/* Layout styles                                                                       */
/*-------------------------------------------------------------------------------------*/

.block {
    padding: 2px;
    border: 1px solid black;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.spaced {
    margin: 10px;
}
.indented {
    margin-left: 10px;
}
.line-space {
    margin: 8px 0;
}

.nospace {
    margin: 0;
}

.media, .media .body { 
    overflow: hidden; *overflow: visible; *zoom: 1;
}

.media > img, .media .img {
    margin-right: 10px;
    float: left;
}

form .dl-horizontal dt:not(.text) {
    padding: 5px 0;
}

textarea { 
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    width: 100%;
}

a {
    font-weight: normal;
}

/*-------------------------------------------------------------------------------------*/
/* Application specific styles                                                         */
/*-------------------------------------------------------------------------------------*/

body {
    padding: 3px;
}

header .title {
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
    position: absolute;
    display: block;
    margin: 20px 0;
    width: 100%;
}

header.top {
    border-bottom: 0.1em solid black;
    background-color: #fff;
    padding: 0 0 0.5em;
    position: fixed;
    height: 85px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
}

.page-content {
    margin-top: 100px; // height 85px + margin 15px
}

input.short {
    width: 80px;
}

.strong {
    font-weight: bold;
}

.dt {
  font-weight: bold;
  line-height: 17px;
}

