<h1 class="">Gastelys</h1>
<section class="line">
    <div class="unit size1of2">
        Search: <input ng-model="query">
        Sort by:
        <select ng-model="orderBy">
            <option value="name">Name</option>
            <option value="surname">Surname</option>
            <option value="connection">Connection</option>
            <option value="repliedAt">Replied</option>
            <option value="attendMorning">Attend Morning</option>
            <option value="attendEvening">Attend Evening</option>
        </select>
    </div>
    <div class="unit lastUnit size1of2"></div>
</section>
<table class="table table-condensed" style="width:100%" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <th width="100">Name</th>
        <th width="100">Surname</th>
        <th width="167">Email</th>
        <th width="98">Connection</th>
        <th width="60">Gender</th>
        <th width="100">Partner</th>
        <th width="83" class="txtr">Invited Morning</th>
        <th width="82" class="txtr">Invited Evening</th>
        <th width="85" class="txtr">Viewed</th>
        <th width="100" class="txtr">Replied</th>
        <th width="63" class="txtr">Attend Morning</th>
        <th width="63" class="txtr">Attend Evening</th>
        <th width="24">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="guest in guests | filter:query | orderBy:orderBy" ng-init="view = !editing[guest.id]"
        ng-click="edit(guest, $event)" enter-keyup="save(guest, $event)" esc-keyup="cancel(guest)" keys="[13, 27]">
        <td ng-if="!editing[guest.id]">{{guest.name}}</td>
        <td ng-if="!editing[guest.id]">{{guest.surname}}</td>
        <td ng-if="!editing[guest.id]">{{guest.email}}</td>
        <td ng-if="!editing[guest.id]">{{guest.connection}}</td>
        <td ng-if="!editing[guest.id]">{{guest.gender | gender}}</td>
        <td ng-if="!editing[guest.id]">{{guest.partner | partnerName}}</td>
        <td ng-if="!editing[guest.id]" class="txtr">{{guest.inviteMorning | checkmark}}</td>
        <td ng-if="!editing[guest.id]" class="txtr">{{guest.inviteEvening | checkmark}}</td>
        <td ng-if="!editing[guest.id]" class="txtr">{{guest.viewedAt}}</td>
        <td ng-if="!editing[guest.id]" class="txtr">{{guest.repliedAt}}</td>
        <td ng-if="!editing[guest.id]" class="txtr">{{guest.attendMorning | checkmark}}</td>
        <td ng-if="!editing[guest.id]" class="txtr">{{guest.attendEvening | checkmark}}</td>
        <td ng-if="!editing[guest.id]" class="txtr"></td>

        <td ng-if="editing[guest.id]"><input class="short" type="text" ng-model="guest.name" /></td>
        <td ng-if="editing[guest.id]"><input class="short" type="text" ng-model="guest.surname" /></td>
        <td ng-if="editing[guest.id]"><input style="width:110px" type="email" ng-model="guest.email" /></td>
        <td ng-if="editing[guest.id]">
            <select style="width:88px" ng-model="guest.connection"
                    ng-options="value for value in ['Marnus', 'Nora-ann', 'Beide']"></select>
        </td>
        <td ng-if="editing[guest.id]">
            <select style="width:50px" ng-model="guest.gender"
                    ng-options="key for (key , value) in {M:'male',F:'female'}"></select>
        </td>
        <td ng-if="editing[guest.id]"><input class="short" type="text" ng-change="updatePartner(guest, guest.partner)" ng-model="guest.partner" /></td>
        <td ng-if="editing[guest.id]" class="txtr"><input type="checkbox" ng-model="guest.inviteMorning" /></td>
        <td ng-if="editing[guest.id]" class="txtr"><input type="checkbox" ng-model="guest.inviteEvening" /></td>
        <td ng-if="editing[guest.id]" class="txtr">{{guest.viewedAt}}</td>
        <td ng-if="editing[guest.id]">
            <input type="text" class="short form-control" datepicker-popup="{{'yyyy/MM/dd'}}" show-button-bar="false"
                   ng-model="guest.repliedAt" />
        </td>
        <td ng-if="editing[guest.id]" class="txtr"><input type="checkbox" ng-model="guest.attendMorning" /></td>
        <td ng-if="editing[guest.id]" class="txtr"><input type="checkbox" ng-model="guest.attendEvening" /></td>
        <td ng-if="editing[guest.id]" class="txtr">
            <a ng-click="save(guest, $event)">
                <img alt="Save" src="/buttons/save.png" width="16" height="16" />
            </a>
        </td>
    </tr>
    </tbody>
</table>