<div class="line" style="width:460px; height:520px; position:absolute; right:9px; top:9px;" ng-controller="RsvpController">
    <div ng-if="!guest" class="txtc" style="margin-top:150px">
        <p style="width:70%;margin:0 auto">Gee ons asseblief jou naam sodat ons jou persoonlike uitnodiging vir jou kan wys!</p>
        <br/>
        <form ng-submit="saveRsvp()" ng-init="var hi = 'me'">
            <input type="text" ng-model="identify" typeahead="v for v in guests.names | limitTo:8" class="form-control" />
            <button type="submit">OK</button>
        </form>
    </div>
    
    <div ng-if="guest" style="margin-top:50px">
        <section class="txtc">
            <p>Jy word hartlik uitgenooi na die piekniek troue van</p>
            <p>Nora-ann Harris</p>
            <p>en</p>
            <p>Marnus Weststrate</p>
            <p>op</p>
            <p>4 Oktober 2014 om 9:00</p>
            <p>by</p>
            <p>Makiti in Muldersdrift</p>
            <p>en</p>
            <p>'n dans by die Lugmagmuseum</p>
            <p>&nbsp;</p>
            <p>Drag: Jeans, dasse en somersrokke!</p>
        </section>
        <section class="txtc">
            <form ng-submit="saveRsvp()">
                <input type="text" ng-model="identify" typeahead="v for v in guests.names | limitTo:8" class="form-control" />
                <button type="submit">OK</button>
            </form>
        </section>
    </div>
</div>